.app {
  display: flex;
  justify-content: center;
  background-color: rgb(216, 216, 216);
  background-image: url('https://s3.ap-southeast-1.amazonaws.com/we-xpats.com/uploads/article/konbini%20pillar%20(2).jpg');
  width: 100vw;
  height: 100vh;
}

.machine {
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
  border: 3px solid rgb(85, 85, 85);
  border-radius: 2rem;
  display: flex;
  width: 50vw;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem;
}

.wallet {
  width: 20vw;
  background-color: rgb(239,172,22);
  height: 100vh;
  color: rgb(62, 13, 13);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.screen {
  background-color: black;
  border-radius: 1rem;
  color: white;
  height: 70%;
  width: 85%;
  margin-top: 1rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-family: 'VT323';
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.payment {
  display: flex;
  width: 70%;
  height: 40%;
  margin-top: 1.25rem;
  text-align: center;
  justify-content: center;
  background: rgb(239,172,22);
  background: linear-gradient(90deg, rgba(239,172,22,1) 0%, rgba(254,240,9,1) 100%);
  border-radius: 1rem;
}

.card-pay {
  width: 50%;
}

.cash-insert {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: -2rem;
}

.bills {
  padding-bottom: 1rem;;
}

.coin-slot {
  background-color: black;
  width: 0.35rem;
  height: 3.25rem;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.coin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-slot-shape {
  position: relative;
  margin-top: 0.75rem;
}
.coin .circle {
  position: absolute;
  background-color:orange;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  left: -1.75rem;
  top: -0.25rem;
}

.bill-slot {
  background-color: black;
  width: 10rem;
  height: 0.35rem;
  cursor: pointer;
}

.card-tap-square {
  background-color: black;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 1.25rem;
  border: 0.25rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-slot {
  background-color: black;
  width: 7rem;
  height: 0.35rem;
}

.receipt-slot {
  background-color: black;
  width: 12rem;
  height: 0.35rem;
  margin-top: 1rem;
}

.coin-change-bucket {
  background-color: rgba(239,172,22,1);
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.change-receipt {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 40%;
  margin-top: 1rem;
  background: linear-gradient(90deg, rgba(239,172,22,1) 0%, rgba(254,240,9,1) 100%);
  border-radius: 1rem;
}

.change-receipt .receipt {
  width: 45%;
}

.change-receipt .coins {
  width: 15%;
}

.change-receipt .reset {
  width: 10%;
}

.nfc-icon {
  opacity: 0.75;
}

.card-tap, .card-insert, .cash-insert, .receipt, .change, .reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 0.5rem;
}

.wallet img {
  cursor: pointer;
}

.wallet-dollar {
  column-count: 3;
  column-gap: 1px;
}

.items {
  background-color: rgb(239,172,22);
  overflow-x: none;
  overflow-y: scroll;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 10vw;
}

.items-title {
  font-size: 1.5rem;
}

.product-title {
  margin-top: 2rem;
}
.items img {
  cursor: pointer;
}

.reset {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.reset-button {
  background-color: gray;
  border: 2px solid black;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.reset-button:hover {
  background-color: rgba(128, 128, 128, 0.75)
}

.reset-button:active {
  background-color:rgb(85, 85, 85);
}

.notification {
  margin-bottom: 2rem;
}

.wallet-title {
  font-size: 3rem;
}

.text {
  color: rgb(113, 113, 113);
  font-weight: 500;
  -webkit-text-stroke: 0.075rem rgb(84, 83, 83);
}

@media (max-width: 991px) {
  .screen {
    font-size: 2rem;
  }
  .text {
    font-size: 0.75rem;
  }
  .bill-slot {
    width: 4rem;
  }
  .card-slot {
    width: 4rem;
  }
  .receipt-slot {
    width: 5rem;
  }
  .card-tap-square {
    width: 2rem;
    height: 2rem;
    
  }
  .nfc-icon {
    width: 100%;
  }
  .wallet-dollar {
    column-count: 1;
  }

  .wallet-title {
    font-size: 2rem;
  }
  .wallet-dollar .dollar-name, .wallet-dollar .dollar-amount {
    display: none;
    visibility: hidden;
  }
  .items {
    width: 20vw;
  }
}